{% raw %}<%@ page contentType="text/html;charset=UTF-8" %>
<%@ page import="com.atlassian.crowd.util.I18nHelper" %>
<%@ page import="org.springframework.context.ApplicationContext" %>
<%@ page import="org.springframework.web.context.support.WebApplicationContextUtils" %>
<%
    final ApplicationContext applicationContext = WebApplicationContextUtils.getWebApplicationContext(getServletConfig().getServletContext());
    final I18nHelper i18nHelper = applicationContext.getBean(I18nHelper.class);
%>

<html>
<head>
    <title><%=i18nHelper.getText("login.title")%></title>
    <meta name="decorator" content="atl.wrm"/>
    <meta name="viewport" content="width=device-width">{% endraw %}
	<script type="text/javascript">
	  var ssoUrl = '{{ CUSTOM_SSO_LOGIN_URL | default('') | replace("'", "\\'") }}';
	
	  var url = new URL(window.location.href);
	  var osDestination = url.searchParams.get("next");
	  var autoLogin = url.searchParams.get("auto_login");
	  if (autoLogin === null || autoLogin === undefined) {
	    autoLogin = "true";
	  }
	  osDestination = osDestination ? osDestination : "";
	  
	  function login() {
		window.location.replace(ssoUrl + '?redirectTo=' + encodeURIComponent('https://' + window.location.host + '/crowd' + osDestination));
	  }

	  var loginLoopCheck = getCookie("loginLoopCheck");
	  
	  if (!loginLoopCheck) {
	    setCookie("loginLoopCheck", "true", "/crowd", 1 * 60 * 1000);
	  } else {
	    autoLogin = false;
	  }
	  
	  if (autoLogin && autoLogin.toLowerCase() === "true") {
		login();
	  }

	  function setCookie(name, value, path, lifeLength) {
	    var expires = "";
	    var date = new Date();
	    date.setTime(date.getTime() + lifeLength);
	    expires = "; expires=" + date.toUTCString();
	    document.cookie = name + "=" + (value || "") + expires + "; path=" + path;
	  }
	  
	  function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
		    c = c.substring(1, c.length);
		  }
          if (c.indexOf(nameEQ) == 0) {
		    return c.substring(nameEQ.length, c.length);
		  }
        }
        return null;
      }
	  
	</script>{% raw %}

</head>

<body>
<a href="#" onclick="login()">Click Here to Login</a>
<!--<div id="react-container"></div>-->
</body>
</html>{% endraw %}
