<?xml version="1.0" encoding="UTF-8"?>
<Server port="8020" shutdown="SHUTDOWN">

    <Service name="Catalina">

        <Connector port="{{ ATL_TOMCAT_PORT | default('8095') }}"
                   
                   proxyName="{{ ATL_TOMCAT_PROXY_NAME | default('') }}"
                   proxyPort="{{ ATL_TOMCAT_PROXY_PORT | default('') }}"
                   scheme="{{ ATL_TOMCAT_SCHEME | default('http') }}"
                   secure="{{ ATL_TOMCAT_SECURE | default('false') }}"

                   SSLEnabled="{{ ATL_TOMCAT_SSL_ENABLED | default('false') }}"
                   sslEnabledProtocols="{{ ATL_TOMCAT_SSL_ENABLED_PROTOCOLS | default ('TLSv1.2') }}"
                   keyAlias="{{ ATL_TOMCAT_KEY_ALIAS | default('') }}"
                   keystoreFile="{{ ATL_TOMCAT_KEYSTORE_FILE | default('') }}"
                   keystorePass="{{ ATL_TOMCAT_KEYSTORE_PASSWORD | default('') }}"
                   keystoreType="{{ ATL_TOMCAT_KEYSTORE_TYPE| default('JKS') }}" 
                   
                   acceptCount="100"
                   connectionTimeout="20000"
                   disableUploadTimeout="true"
                   enableLookups="false"
                   maxHttpHeaderSize="8192"
                   maxThreads="150"
                   maxConnections="5000"
                   minSpareThreads="25"                
                   redirectPort="8443"
                   useBodyEncodingForURI="true"
                   URIEncoding="UTF-8"
                   compression="on"
                   sendReasonPhrase="true"
                   compressableMimeType="text/html,text/xml,application/xml,text/plain,text/css,application/json,application/javascript,application/x-javascript" 
                   protocol="HTTP/1.1" />

        <Engine defaultHost="localhost" name="Catalina">
            <Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true">
                <Valve className="org.apache.catalina.valves.ErrorReportValve"
                       showReport="false"
                       showServerInfo="false" />
                <Valve className="org.apache.catalina.valves.RemoteIpValve" />
                <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
                            prefix="access" suffix=".log"
                            pattern="%h %l %u %t &quot;%r&quot; %s %b"
                            requestAttributesEnabled="true" 
                            renameOnRotate="true" />
            </Host>
        </Engine>

        <!-- To connect to an external web server (typically Apache) -->
        <!-- Define an AJP 1.3 Connector on port 8009 -->
        <!--
            <Connector port="8009" enableLookups="false" redirectPort="8443" protocol="AJP/1.3" />
        -->
    </Service>

    <!-- Security listener. Documentation at /docs/config/listeners.html
    <Listener className="org.apache.catalina.security.SecurityListener" />
    -->
    <!--APR library loader. Documentation at /docs/apr.html -->
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
    <!-- Prevent memory leaks due to use of particular java/javax APIs-->
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
</Server>